<link rel="stylesheet" href="site.css">

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1><u>FullStack Web Developmen- Advanced Case Study</u></h1>
</div>


<br />
<div class="text-left">
   <p><span style="color: #424e23"> Name:</span> <span style="color:#424e23; font-weight:bold"">Llantos, Marygrace R.</span></p
</div>



<div class="text-left">
   <p id="Course/Section"><span style="color:#424e23"> Course/Section:</span> <span style="color:#424e23; font-weight:bold">BSIT 32E3</span></p>
</div>


<div class="text-left">
   <p id="Course/Section"><span style="color:#424e23"> Student No:</span> <span style="color:#424e23; font-weight:bold">1714-21</span></p>
</div>
