
@{
    ViewData["Title"] = "School";
}

<div class="text-center">
    <h1><u>Schedule </u></h1>
</div>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<br />

<table style="width:70%">
  <tr>
    <th>Subject Code</th>
    <th>Subject Title</th>
    <th>Teacher</th>
    <th>Unit</th>
    
  </tr>
  <tr>
    <td>SIA323</td>
    <td>Systems Integration & Architecture 1 </td>
    <td>Prof Banag</td>
    <td>3</td>
  </tr>
  <tr>
    <td>FIL 103</td>
    <td>Panitikan</td>
    <td>Prof Zaide</td>
     <td>3</td>
  </tr>
  <tr>
    <td>CAP323</td>
    <td>Capstone Project and Research 1</td>
    <td>Prof R Ellana</td>
     <td>3</td>
  </tr>
  <tr>
    <td>MS313</td>
    <td>Quantitive Methods (Modelling & Simulation</td>
    <td>Prof Deladia</td>
     <td>3</td>
  </tr>
  <tr>
    <td>ELEC323</td>
    <td>IT Elective 3 (FULL STACK)</td>
    <td>Prof Alamo</td>
     <td>3</td>
  </tr>
  <tr>
    <td>IAS323</td>
    <td>Information Assurance and Security 1</td>
    <td>Prof Malig-on</td>
     <td>3</td>
  </tr>
</table>

<div class="text-center">
    <h1><u>Online Synchronous </u></h1>
</div>

<table style="width:70%">
  <tr>
    <th>Subject Code</th>
    <th>Subject Title</th>
    <th>Day</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>SIA323</td>
    <td>Systems Integration & Architecture 1</td>
    <td>N/A</td>
     <td>N/A</td>
  </tr>
   <tr>
    <td>FIL 103</td>
    <td>Panitikan</td>
    <td>THU</td>
     <td>2:00-3:00 PM</td>
  </tr>
   <tr>
    <td>CAP323</td>
    <td>Capstone Project and Research 1</td>
    <td>N/A</td>
     <td>N/A</td>
  </tr>
   <tr>
    <td>MS313</td>
    <td>Quantitive Methods (Modelling & Simulation</td>
    <td>N/A</td>
     <td>N/A</td>
  </tr>
   <tr>
    <td>ELEC323</td>
    <td>IT Elective 3 (FULL STACK)</td>
    <td>N/A</td>
     <td>N/A</td>
  </tr>
  <tr>
    <td>IAS323</td>
    <td>Information Assurance and Security 1</td>
    <td>N/A</td>
     <td>N/A</td>
  </tr>
</table>

<div class="text-center">
    <h1><u> Asynchronous </u></h1>
</div>

<table style="width:70%">
  <tr>
    <th>Subject Code</th>
    <th>Subject Title</th>
    <th>Day</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>SIA323</td>
    <td>Systems Integration & Architecture 1</td>
    <td>THU</td>
     <td>07:00-09:00PM</td>
  </tr>
   <tr>
    <td>FIL 103</td>
    <td>Panitikan</td>
    <td>MON</td>
     <td>3:00-4:00 PM</td>
  </tr>
  <tr>
    <td>CAP323</td>
    <td>Capstone Project and Research 1</td>
    <td>WED</td>
     <td>5:00-7:00PM</td>
  </tr>
  <tr>
    <td>MS313</td>
    <td>Quantitive Methods (Modelling & Simulation</td>
    <td>WED</td>
     <td>3:00:5:00PM</td>
  </tr>
   <tr>
    <td>ELEC323</td>
    <td>IT Elective 3 (FULL STACK)</td>
    <td>THU</td>
     <td>5:00-7:00PM</td>
  </tr>
   <tr>
    <td>IAS323</td>
    <td>Information Assurance and Security 1</td>
    <td>THU</td>
     <td>4:00-6:00PM</td>
  </tr>
</table>

<div class="text-center">
    <h1><u> Face to Face </u></h1>
</div>

<table style="width:70%">
  <tr>
    <th>Subject Code</th>
    <th>Subject Title</th>
    <th>Day</th>
    <th>Time</th>
    <th>RM</th>
  </tr>
  <tr>
    <td>SIA323</td>
    <td>Systems Integration & Architecture 1</td>
    <td>MON/TUE</td>
    <td>08:00-09:30PM</td>
    <td>202</td>
  </tr>
   <tr>
    <td>FIL 103</td>
    <td>Panitikan</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>CAP323</td>
    <td>Capstone Project and Research 1</td>
    <td>MON/TUE</td>
    <td>6:30-8:00PM</td>
    <td>217</td>
  </tr>
  <tr>
    <td>MS313</td>
    <td>Quantitive Methods (Modelling & Simulation</td>
    <td>MON/TUE</td>
    <td>5:00-6:30PM</td>
      <td>INT1</td>
  </tr>
   <tr>
    <td>ELEC323</td>
    <td>IT Elective 3 (FULL STACK)</td>
    <td>SAT</td>
     <td>1:00-4:00PM</td>
      <td>INT1</td>
  </tr>
   <tr>
    <td>IAS323</td>
    <td>Information Assurance and Security 1</td>
    <td>TUE</td>
     <td>3:00-4:00PM</td>
      <td>219</td>
  </tr>
</table>


